{% include "header.html" %}
  <header class="header cf">
    <div class="wrapper">
      <h1 class="header__logo"><a href="/"><img src="./static/img/common/logo-mini.png" alt="ブロック崩しメーカー" width="180" /></a></h1>
      <div class="header__icon"><a href="/mypage"><span class="header__name">@{{ myid }}</span> <img src="./static/img/top/{{ myimage }}" alt="ユーザー名" /> </a></div>
    </div>
  </header>
  <div class="page-create">
    <div class="main-container wrapper">
      <div class="p-mb-p">
        <p class="p-ts__small p-tc__gray">STEP2 / 4</p>
        <h1 class="sec-h1">ブロック配置</h1>
        <div>説明画像</div>{{ imageMiddle }}{{ imageBottom }}
      </div>
      <form action="/create3" method="POST">
        <section class="p-mb-sec sec-block-set">
          <div class="sec-block-set__top" style="background-image:url('./static/img/common/bottom-sample.jpg')">
            <table>
              <tbody>
                <tr>
                  <td id="a1"></td><td id="b1"></td><td id="c1"></td><td id="d1"></td><td id="e1"></td><td id="f1"></td>
                </tr>
                <tr>
                  <td id="a2"></td><td id="b2"></td><td id="c2"></td><td id="d2"></td><td id="e2"></td><td id="f2"></td>
                </tr>
                <tr>
                  <td id="a3"></td><td id="b3"></td><td id="c3"></td><td id="d3"></td><td id="e3"></td><td id="f3"></td>
                </tr>
                <tr>
                  <td id="a4"></td><td id="b4"></td><td id="c4"></td><td id="d4"></td><td id="e4"></td><td id="f4"></td>
                </tr>
                <tr>
                  <td id="a5"></td><td id="b5"></td><td id="c5"></td><td id="d5"></td><td id="e5"></td><td id="f5"></td>
                </tr>
                <tr>
                  <td id="a6"></td><td id="b6"></td><td id="c6"></td><td id="d6"></td><td id="e6"></td><td id="f6"></td>
                </tr>
                <tr>
                  <td id="a7"></td><td id="b7"></td><td id="c7"></td><td id="d7"></td><td id="e7"></td><td id="f7"></td>
                </tr>
                <tr>
                  <td id="a8"></td><td id="b8"></td><td id="c8"></td><td id="d8"></td><td id="e8"></td><td id="f8"></td>
                </tr>
                <tr>
                  <td id="a9"></td><td id="b9"></td><td id="c9"></td><td id="d9"></td><td id="e9"></td><td id="f9"></td>
                </tr>
                <tr>
                  <td id="a10"></td><td id="b10"></td><td id="c10"></td><td id="d10"></td><td id="e10"></td><td id="f10"></td>
                </tr>
                <tr>
                  <td id="a11"></td><td id="b11"></td><td id="c11"></td><td id="d11"></td><td id="e11"></td><td id="f11"></td>
                </tr>
                <tr>
                  <td id="a12"></td><td id="b12"></td><td id="c12"></td><td id="d12"></td><td id="e12"></td><td id="f12"></td>
                </tr>
                <tr>
                  <td id="a13"></td><td id="b13"></td><td id="c13"></td><td id="d13"></td><td id="e13"></td><td id="f13"></td>
                </tr>
                <tr>
                  <td id="a14"></td><td id="b14"></td><td id="c14"></td><td id="d14"></td><td id="e14"></td><td id="f14"></td>
                </tr>
                <tr>
                  <td id="a15"></td><td id="b15"></td><td id="c15"></td><td id="d15"></td><td id="e15"></td><td id="f15"></td>
                </tr>
              </tbody>
            </table>
            <div class="sec-block-set__color-choose active">
              <ul>
                <li id="cr" class="cr active"></li>
                <li id="cg" class="cg"></li>
                <li id="cy" class="cy"></li>
                <li id="cb" class="cb"></li>
                <li id="cp" class="cp"></li>
              </ul>
            </div>
          </div>
          <div class="sec-block-set__button cf">
            <div class="sec-block-set__button-block js-edit active"><span><img src="./static/img/common/icon-set.png" height="16" /><br>設置モード</span></div>
            <div class="sec-block-set__button-block js-delete"><span><img src="./static/img/common/icon-delete.png" height="16" /><br>削除モード</span></div>
            <div class="sec-block-set__button-block js-clear"><span><img src="./static/img/common/icon-clear.png" height="16" /><br>全消し</span></div>
          </div>
        </section>
        <div class="top-sec1__button"><button class="p-button p-button__blue" type="submit" href='#'>作品情報入力へ</button></div>
        <div class="top-sec1__button"><button class="p-button" type="submit" onclick="history.back()">戻る</button></div>
      </form>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="./static/js/script.js"></script>
{% include "footer.html" %}
