{% include "header.html" %}
      <header class="header cf">
        <h1 class="header__logo"><a href="/"><img src="./static/img/common/logo-mini.png" alt="ブロック崩しメーカー" width="180" /></a></h1>
        <div class="header_login"><a class="header__login-button" href='{{ myLogin_url }}'>ログイン</a></div>
      </header>
      <section class="top-main-sec">
        <h1 class="p-mb-p"><img src="./static/img/top/main-logo.png" alt="ブロック崩しメーカー" width="382" /></h1>
        <p class="p-ta-c p-mb-p">イラストをアップしてオリジナルの<br />
          ブロックくずしを作ってみんなで遊べます</p>
        <div class="top-sec1__button p-mb-p"><a class="p-button" href='{{ create_url }}'>ブロックくずしを作る</a></div>
        <p class="p-ts__small p-tc__gray p-ta-c">twitterログインが必要です<br />※ツイート権限は取得しません。プレイ情報が勝手にツイートされることはありません</p>
      </section>
      <div class="wrapper main-container page-index">
        <section class="top-sec__new sec-wrap">
          <h1 class="sec-h1">新着ブロックくずし</h1>
          <div class="cf">
            <div class="top-sec__new-block d-1of4">
              <a href="#"><img src="./static/img/top/sample.png" alt="タイトル" /></a>
            </div>
            <div class="top-sec__new-block d-1of4">
              <a href="#"><img src="./static/img/top/sample.png" alt="タイトル" /></a>
            </div>
            <div class="top-sec__new-block d-1of4">
              <a href="#"><img src="./static/img/top/sample.png" alt="タイトル" /></a>
            </div>
            <div class="top-sec__new-block d-1of4">
              <a href="#"><img src="./static/img/top/sample.png" alt="タイトル" /></a>
            </div>
            <div class="top-sec__new-block d-1of4">
              <a href="#"><img src="./static/img/top/sample.png" alt="タイトル" /></a>
            </div>
            <div class="top-sec__new-block d-1of4">
              <a href="#"><img src="./static/img/top/sample.png" alt="タイトル" /></a>
            </div>
            <div class="top-sec__new-block d-1of4">
              <a href="#"><img src="./static/img/top/sample.png" alt="タイトル" /></a>
            </div>
            <div class="top-sec__new-block d-1of4">
              <a href="#"><img src="./static/img/top/sample.png" alt="タイトル" /></a>
            </div>
            <div class="top-sec__new-block d-1of4">
              <a href="#"><img src="./static/img/top/sample.png" alt="タイトル" /></a>
            </div>
          </div>
        </section>
      </div>
{% include "footer.html" %}
