{% include "header.html" %}
  <header class="header cf">
    <h1 class="header__logo"><a href="/"><img src="./static/img/common/logo-mini.png" alt="ブロック崩しメーカー" width="180" /></a></h1>
    <div class="header__icon"><a href="/mypage"><span class="header__name">@{{ myid }}</span> <img src="./static/img/top/{{ myimage }}" alt="ユーザー名" /> </a></div>
  </header>
  <section class="sec-link-create">
    <div class="top-sec1__button"><a class="p-button" href='{{ redirect_url }}'>ブロックくずしを作る</a></div>
  </section>
  <div class="main-container wrapper">
    <section class="mp-prof">
      <div class="cf">
        <div class="mp-prof__icon">
          <a href=""><img src="./static/img/top/{{ myimage }}" alt="ユーザー名" /></a>
        </div>
        <div class="mp-prof__info">
          <div class="mp-prof__name">{{ myname }}</div>{{ result }}
          <div class="mp-prof__id"><a href="#">@{{ myid }}</a></div>
          <a class="p-ts__small p-tc__gray" href="#">ログアウト</a>
        </div>
      </div>
    </section>
    <section>
      <div class="p-tab">
        <li class="p-tab__li current"><a href="#">投稿作品一覧</a></li>
        <li class="p-tab__li current"><a href="#">クリア一覧</a></li>
        <li class="p-tab__li"><a href="#">お気に入り一覧</a></li>
      </div>
      <div class="sec-work mp-contents">
        <div class="sec-work-block p-mb-p cf">
            <div class="sec-work-block__img"><a href="#"><img src="./static/img/top/sample.png" alt="作品名" /></a></div>
            <div class="sec-work-block__info">
                <h2 class="h2"><a href="#">タイトルタイトル</a></h2>
                <div class="sec-work-block__info-date">投稿日：2018/22/22</div>
                <div class="sec-work-block__status">
                  <span><img src="./static/img/common/icon-play-off-gray.png" height="10" /> 2518</span>
                  <span><img src="./static/img/common/icon-fav-off-gray.png" height="14" /> 25</span>
                </div>
            </div>
        </div>
        <div class="sec-work-block p-mb-p cf">
            <div class="sec-work-block__img"><a href="#"><img src="./static/img/top/sample.png" alt="作品名" /></a></div>
            <div class="sec-work-block__info">
                <h2 class="h2"><a href="#">タイトルタイトル</a></h2>
                <div class="sec-work-block__info-date">投稿日：2018/22/22</div>
                <div class="sec-work-block__status">
                  <span><img src="./static/img/common/icon-play-off-gray.png" height="10" /> 2518</span>
                  <span><img src="./static/img/common/icon-fav-off-gray.png" height="14" /> 25</span>
                </div>
            </div>
        </div>
      </div>
    </section>
  </div>
{% include "footer.html" %}
